Port 22
ListenAddress 0.0.0.0
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin no
PermitEmptyPasswords no
PubkeyAuthentication yes
UsePAM yes
Subsystem sftp /usr/lib/ssh/sftp-server
AllowUsers brad

