# Port 512
# edit with
#   systemctl edit sshd.socket
ListenAddress 0.0.0.0
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin no
PermitEmptyPasswords no
UsePAM yes
Subsystem sftp /usr/lib/openssh/sftp-server
AllowUsers brad
